atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
coverage==4.5.1
coveralls==1.5.1
docopt==0.6.2
idna==2.7
more-itertools==4.3.0
numpy==1.15.4
pluggy==0.8.0
py==1.7.0
pytest==3.10.0
pytest-cov==2.6.0
requests==2.20.0
six==1.11.0
-e git+https://github.com/cs207-SpaceJam/cs207-FinalProject.git@ecdac10f6a351d5f3d97552bf3a600d0f2feeca0#egg=spacejam
urllib3==1.24.1
